* {
    /*background-color: rgba(0,0,0,.1);*/
    box-sizing: border-box;
    transition: background-color 200ms;
}

body {
    line-height: 1.7;
    font-size: 14px;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
     color: #666;
}

a:hover{
    color: #e4393c;
}

img {
    float: left;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.clearf:before,
.clearf:after {
    display: block;
    content: '';
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    display: block;
    float: left;
}

.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}

.top-nav {
    background-color: #eeeeee;
}

.top-nav .item {
    display: inline-block;
    padding: 6px 10px;
}

.header {
    padding: 20px;
}

.header .logo {
    font-size: 30px;
}

.header .search-bar {
    border: 2px solid #dd182b;
    background-color: #dd182b;
}


.header .search-bar input,
.header .search-bar button {
    float: left;
    padding: 10px;
    border: 0;
    outline: 0;
}

.header .search-bar input {
    width: 80%;
}

.header .search-bar button {
    width: 20%;
    background-color: #dd182b;
    color: #fff;
}

.header .search-bar input:focus {
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,.2);
}

.header .search-bar button:hover {
    background-color: #ce1829;
}

.header .cart {
    text-align: center;
}

.header .cart .item {
    float: right;
    width: 80%;
    padding: 10px;
    border: 2px solid #eee;
    color: #dd182b;

}

.main-promote {
    background-color: #dedede;
}

.main-promote .cat {
    background-color: #6e6568;
}

.main-promote .cat>ul{
    list-style: none;
    padding: 0;
}

.main-promote .cat .item {
    padding: 14px 20px;
    color: #fff;
}

.main-promote .cat .item:hover {
    background-color: rgba(0,0,0,.2);
    color: #e4393c;
}

.main-promote .info {
    padding: 10px;
    background-color: #fff;
    color: #888;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.main-promote .info .avatar {
    float: left;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #aaa;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 30px;
    padding: 30px 0;
    background-color: #eee;
    text-align: center;
    color: #999;
}

.footer a {
    color: #999;
}